@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Outfit:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif !important;
}

:root {
  --bg-color: #2c3335;
}

.theme-dark label {
  color: #fff;
}

.theme-dark input::placeholder,
.theme-dark textarea::placeholder {
  color: #aaa;
  opacity: 1;
}

.theme-dark input,
.theme-dark textarea,
.theme-dark select {
  color: #fff;
  background-color: #212529;
  border-color: #4e575f;
}

.theme-dark input:focus,
.theme-dark textarea:focus,
.theme-dark select:focus {
  border-color: #4e575f;
  box-shadow: 0 0 0 0.2rem rgba(78, 87, 95, 0.25);
  background-color: #212529;
  color: #fff;
}