.users-container {
    display: flex;
    gap: 20px;
    padding: 20px;
    height: 92.4vh;
    box-sizing: border-box;
    background-color: var(--bg-color);
}

.left-column {
    flex: 0.7;
    /* 70 % of the width */
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.right-column {
    /* 30 % of the width */
    flex: 0.3;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    height: 100%;
    box-sizing: border-box;

}